/*DETAIL*/
.container-detail {
    padding: 60px;
}

.section-detail {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 855px) {
    .container-detail {
        padding: 10px;
    }

    .section-detail {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}

.mobile-name-price {
    display: none;
}

@media (max-width: 855px) {
    .mobile-name-price {
        display: block
    }

    .desktop-name-price {
        display: none;
    }
}

.article-detail {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

@media (max-width: 1250px) {
    .section-detail div .img-detail {
        width: 600px;
    }
}

@media (max-width: 1040px) {
    .section-detail div .img-detail {
        width: 450px;
    }
}

@media (max-width: 855px) {
    .article-detail {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        width: auto;
    }
}

@media (max-width: 450px) {
    .section-detail div .img-detail {
        width: 350px;
    }
}

@media (max-width: 350px) {
    .section-detail div .img-detail {
        width: 280px;
    }
}

.item-detail h2 {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Serif 4', sans-serif;
}

.item-detail h3 {
    font-size: 19px;
    margin: 20px 0;
}

.item-detail .container-description {
    margin: 20px 0;
}

.item-detail .container-description h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.item-detail ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*btn*/
.container-btn-after-buy {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.btn-keep-buy {
    background-color: white;
    border: none;
}

.btn-go-to-shop {
    background-color: white;
    border: none;
}