.item--container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px;
}

.item--subContainer {
    border: 1px solid #000000;
}

.img--caracts {
    width: 320px;
}

@media (max-width: 578px) {
    .img--caracts {
        width: 255px;
    }
}

@media (max-width: 320px) {
    .img--caracts {
        width: 190px;
    }
}
