.item-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px;
    border-left: solid 1px rgb(114, 114, 114);
    border-bottom: solid 1px rgb(114, 114, 114);
    box-shadow: 0.5em 0.5em 0.5em rgb(114, 114, 114);
}

.item-container .img-container {
    position: relative;
    overflow: hidden;
}


.item-container .img-container .img-caracts {
    width: 400px;
    opacity: 1;
    height: auto;
    transition: .5s ease;
}

.img-container:hover .img-caracts {
    opacity: 0.6;
    transform: scale(1.3);
}

@media (max-width: 578px) {
    .img-caracts {
        width: 255px;
    }
}

@media (max-width: 320px) {
    .img-caracts {
        width: 190px;
    }
}

.item-container .img-container .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-container:hover .middle {
    opacity: 1;
}

.item-container .img-container .middle .go-to-detail {
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 16px 16px;
    border: none;
}

.middle:hover .go-to-detail:hover {
    transform: scale(1.1);
}

.item-container .item-price {
    margin-bottom: 10px;
}

.item-container h5 {
    margin-top: 10px;
}

.item-detail ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-detail ul li::before {
    font-family:"Font Awesome 5 Free";
    font-size: 25px;
	content:"\f0eb";
	margin-right:10px;
}