/*NAV*/
.text--nav {
    font-size: 18px;
}

/*SLIDER*/

.slider {
    background-color: rgb(207, 181, 255);
    text-align: center;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
}

.marquee-inner {
    overflow: hidden;
    min-width: 100%;
    width: auto;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    width: auto;
    min-width: 100%;
    animation: marquee 70s linear infinite;
    animation-delay: -70s;
}

.marquee-content.clone {
    animation: marqueeClone 70s linear infinite;
    animation-delay: -35s;
}

.marquee-content span {
    padding: 0 40px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: .5px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marqueeClone {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}