/*NAV*/
.text--nav {
    font-size: 18px;
}

/*SLIDER*/
.slider {
    background-color: rgb(207, 181, 255);
    width: 100%;
    height: 22px;
    overflow: hidden;
    position: relative;
}

.slider .slider-track {
    display: flex;
    justify-content: space-around;
    animation: scroll 20s infinite linear;
    font-size: 15px;
}

.slider .slide span {
    width: 330px;
    justify-content: space-around;
    display: flex;
    line-height: 20px;
    color: white;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}