/*Newsletter*/
.fondo_newsletter {
  background: linear-gradient(137.22deg, #f5e5ff 0%, #eaf1fb 47.98%, #fed4dd 100%);
  padding: 40px 0px;
}

.fondo_newsletter h3 {
  text-align: center;
  margin-bottom: 15px;
}

/*Redes sociales*/
.social-icons {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.social-icons a img {
  max-width: 110px;
  margin: 15px 0;
  width: auto;
}

@media (max-width:410px) {
  .social-icons a img {
    max-width: 60px;
  }
}

.social-icons a img:hover {
  opacity: 0.5;
}

/*Footer*/
.footer-form {
  display: flex;
  justify-content: center;
}

.footer-form input {
  margin-right: 5px;
  padding: 4px;
}

.footer-form button {
  background-color: white;
  padding: 2px 5px;
  border-radius: 20%;
}

.footer-cont {
  border-top: solid 1px rgb(199, 199, 199);
  padding-top: 10px;
  text-align: center;
}

.footer-cont h5 {
  font-size: 30px;
}

.footer-cont p {
  font-size: 15px;
}