/*General Style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

/*Item list container*/
.itemlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
}

/*Loader*/
.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 50px 0px;
}

.container-loader h4 {
    margin: 10px;
    font-size: 25px;
}

/*ItemList*/
.title-itemlist h1 {
    letter-spacing: 2px;
    font-size: 35px;
    margin: 30px 0px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}

.dropdown-itemlist {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.dropdown-itemlist a {
    color: black;
}